
<h1 class="shortened-heading">Shortened links</h1>


<div class="link-wrapper">
    <% @link.each do |link| %>
        <div class="link">

            <div>
               <strong> Original URL</strong> 
               <p><%= link.original_url %> </p>
            </div>

            <div>
                <strong> Shortened URL</strong> 
               <p> <%= link.short_url %> </p>
            </div>

            <div>
                <strong> Visited </strong> 

                  <%= link.clicked %> </p>
            </div>

 
        </div>
    <% end %>
</div>


<div class="new-link-btn">

    <%= link_to "Shorten link", new_link_path%>
</div>
