


<%= form_with model: @link do |form| %>
<br>
<br>
<br>
<br>
<br>
    <div>
        <%= form.label :original_url %>
    </div>

    <div>
        <%= form.text_field :original_url %>
    </div>

    <div>
        <%= form.submit %>
    </div>


<% end %>