


<div class="visit-url">
    <p>Visit URL: <%= link_to "https://shai-shorty.herokuapp.com/#{@link.short_url}", send_to_website_path(@link.short_url) %></p>
</div>



<div class="all-links-btn">
    <%= link_to "See all links", links_path %>
</div>
