/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .shortened-heading {

    text-align: center;
    width: 60%;
    margin: auto;
 }

 
  .link-wrapper {
     padding: 30px;
    // background-color: rgb(242, 242, 255);
     width: 60%;
     margin: auto;
 
  }




 .link {

    background-color: rgb(238, 235, 235);
    margin-top: 20px;
    overflow-x: scroll;
    padding: 20px;
    border-radius: 5px;


 }




 .new-link-btn {

    background-color: rgb(7, 176, 255);
    width: 20%;
    text-align: center;
    padding: 10px;
    font-size: 1.5em;
    border-radius: 5px;
    margin: auto;

    a {
        text-decoration: none;
        color: white;

    }
 }



 .paste-link {
     text-align: center;
     margin-top: 100px;
 }

 .link-form-wrapper {
    background: rgb(247, 247, 247);
    padding: 20px;
    width: 70%;
    margin: auto;

    input[type="text"]{
        width: 97%;
        height: 40px;
        border-radius: 5px;
        padding: 5px;
        font-size: 1em;
        
    }


    .shorten-link-btn {
        color: rgb(255, 255, 255);
        padding: 10px;
        background-color: rgb(9, 205, 240);
        border: none;
        font-size: 1.2em;
    }

 }


 .visit-url {
     background-color: rgb(9, 205, 240);
     padding: 10px;
     width: 60%;
     margin: auto;
     margin-top: 100px;
     text-align: center;
 }

